@model RadarCompetencias.Models.UsersViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Cadastrar";
}

<style>
body { 
    background-image: url("https://fs.bhs.com.br/adfs/portal/illustration/illustration.png?id=B59E45CA2818FC017577B87793443AC25F43C3EF930402E6806D417DC39243AE");
}
</style>

<div id="contentWrapper" class="float">
            <div id="content">
                <div id="header">
                    <img class="logoImage" src="https://fs.bhs.com.br/adfs/portal/logo/logo.png?id=4133C6979F0A6E237F2F723A80B219168E7376AABDE3EC15566DDE6697850503" alt="BHS"/>
                </div>
    <div id="workAreaR" class="col-md-4">
        <section>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Criar uma nova conta</h4>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Nome completo"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UserName" class="form-control" placeholder="Nome de usuário"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="email@exemplo.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Senha"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar senha"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-enter">Cadastrar</button>
        </form>
        </section>
        <div id="footer">
            <p>&copy; 2019 - Radar de Competências</p>
        </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
